# Dependencies
node_modules/

# Build output
dist/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: temporary or swap files
*.swp
